{% extends 'AdminSite/main.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<style>
	#message {
		margin: 1px 74px;
		font-family: 'Poppins';
		color: black;
	}
</style>

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
	<div class="container">
		<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
			<div class="col-first">
				<h1>Register</h1>
				<nav class="d-flex align-items-center">
					<a href="{% url 'AdminDashboard' %}">Home<span class="lnr lnr-arrow-right"></span></a>
					<a href="#">Register</a>
				</nav>
			</div>
		</div>
	</div>
</section>
<!-- End Banner Area -->

<!--================Login Box Area =================-->
<section class="login_box_area section_gap">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="login_box_img">
					<img class="img-fluid" src="{% static '/img/login.jpg' %}" alt="">
					<div class="hover">
						<h4>You have already an account.</h4>
						<p>There are advances being made in science and technology everyday, and a good example of this
							is the</p>
						<a class="primary-btn" href="{% url 'Adminloginpage' %}">LOGIN</a>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="login_form_inner">
					<h3>ENTER DETAILS</h3>
					<form class="row login_form" action="#" method="post" id="contactForm" novalidate="novalidate">
						{% csrf_token %}
						<div class="col-md-12 form-group">
							{% render_field form.username class="form-control" placeholder="Username" %}
							{% if form.username.help_text %}
							<small class="form-text text-muted">{{ form.username.help_text }}</small>
							{% endif %}
						</div>
						<div class="col-md-12 form-group">
							{% render_field form.email class="form-control" placeholder="Email" %}
							{% if form.email.help_text %}
							<small class="form-text text-muted">{{ form.email.help_text }}</small>
							{% endif %}
						</div>
						<div class="col-md-12 form-group">
							{% render_field form.password1 class="form-control" placeholder="Password" %}
							<small class="" style="text-align: start;">Your password must contain at least 8
								characters.Your password can’t be entirely numeric.</small>

						</div>
						<div class="col-md-12 form-group">
							{% render_field form.password2 class="form-control" placeholder="Password" %}
						</div>
						<!-- <div class="col-md-12 form-group">
								<div class="creat_account">
									<input type="checkbox" id="f-option2" name="selector">
									<label for="f-option2">Keep me logged in</label>
								</div>
							</div> -->
						<div class="col-md-12 form-group">
							<button type="submit" value="submit" class="primary-btn">REGISTER</button>
						</div>
						{%for error in form.errors%}
						<p id='message'>{{error}}</p>
						{%endfor%}
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Login Box Area =================-->

{% endblock %}